

html, body{
    margin: 0px;
    padding: 0px;
}
p,h1,h2,h3,h4,h4,h6{
    margin: 0px;
}

ul,ol{
    margin: 0px;
    padding: 0px;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

